main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 250px;
  background-color: rgb(51,51,51);
}

.display-none {
  display: none;
}

h1 {
  color: white;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(51,51,51);
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  width: 150px;
}

.measurements-list {
  list-style-type: none;
  padding: 0;
  align-items: left;
}

.measurements-list li {
  margin: 10px;
}
